<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317378977823-8t522e8irqisel91jl97om2urrbjfegp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317378977823-8t522e8irqisel91jl97om2urrbjfegp</string>
	<key>API_KEY</key>
	<string>AIzaSyD5b_KJThDhohYH0jyO_zqYfwJjHTOoIzs</string>
	<key>GCM_SENDER_ID</key>
	<string>317378977823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProjects</string>
	<key>PROJECT_ID</key>
	<string>flutterprojects-e49f2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterprojects-e49f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317378977823:ios:24c9ef970903137a09352a</string>
</dict>
</plist>